/* Aero Matics */
@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Light Italic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Bold Italic.ttf');
  font-weight: 700;
  font-style: italic;
}

/* Aero MaticsDisplay */
@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Display Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-variant: small-caps;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Light Italic.ttf');
  font-weight: 300;
  font-style: italic;
  font-variant: small-caps;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Display Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Display Italic.ttf');
  font-weight: 400;
  font-style: italic;
  font-variant: small-caps;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Display Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
}

@font-face {
  font-family: 'Aero Matics';
  src: local('Aero Matics Display Bold Italic.ttf');
  font-weight: 700;
  font-style: italic;
  font-variant: small-caps;
}
