@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local('NunitoSans-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
