@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('assets/fonts/Nunito_Sans/NunitoSans-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
